* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.wmde-markdown,
.w-md-editor-preview {
  background-color: #fbfbfd !important;
}

.wmde-markdown>* {
  border: none !important;
}

.wmde-markdown a {
  display: none !important;
}